version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: insider-api
    env_file:
      - .env
    environment:
      API_HOST: ${API_HOST:-0.0.0.0}
      API_PORT: ${API_PORT:-8080}
      DB_HOST: ${DB_HOST:-db}
      DB_PORT: ${DB_PORT:-5432}
      REDIS_ADDR: ${REDIS_ADDR:-redis:6379}
      APP_NAME: ${APP_NAME:-insider-assessment}
      APP_ENV: ${APP_ENV:-development}
      APP_DEBUG: ${APP_DEBUG:-true}
      APP_VERSION: ${APP_VERSION:-0.1.0}

    command: ["/app/api"]
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started

  seed:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: insider-seed
    env_file:
      - .env
    environment:
      DB_HOST: db
      DB_PORT: 5432
    command: ["/app/seed"]
    depends_on:
      db:
        condition: service_healthy
    restart: "no"

  db:
    image: postgres:16
    container_name: insider-db
    environment:
      POSTGRES_USER: ${DB_USER:-postgres}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-123456}
      POSTGRES_DB: ${DB_NAME:-db_ins_message}
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7
    container_name: insider-redis
    command: ["redis-server", "--save", "", "--appendonly", "no"]
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  db_data:
  redis_data:
